<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.cafetio.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cafetio</name>
    <description>
        Application pour gérer la cafetiere a distance
    </description>
    <author email="romain.addweb@gmail.com" href="http://cafetio.fr">
        Cafetio
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
